/* App Container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('pexels-felix-mittermeier-956999.jpg'); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Card Styling */
.card {
  border: 1px solid #6d1616;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9); /* Transparent background with a slight overlay */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Heading Styles */
h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #bec9c5; /* White text for better contrast */
}

h2 {
  font-size: 20px;
  margin-bottom: 2cqh;
  color: #330e0e;
}

/* Text Styles */
p {
  font-size: 16px;
  margin: 5px 0;
  color: #5234da;
}

/* Bio Text */
.bio {
  font-style: italic;
  color: #999;
}
